html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}
header {
  position: sticky;
  top: 0;
  z-index: 100;
}

header, footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header .menu, footer .menu {
  display: flex;
  justify-content: center;
  list-style: none;
}

header .menu li, footer .menu li {
  margin: 0 15px;
}

header .menu li a, footer .menu li a {
  color: white;
  text-decoration: none;
}

.hero {
  position: relative;
  text-align: center;
  background-color: #1a0b00;
}

.hero h1 {
  position: absolute;
  left: 50%;
  top: 3%;
  transform: translate(-50%);
  font-size: 128px;
  color: wheat;
}

.hero img {
  width: 100%;
  height: auto;
  max-height: 800px;
  object-fit: cover;
  opacity: 0.3;
}

.order-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 45px;
  background: linear-gradient(70deg, #b68367, #834649);
  color: white;
  border: none;
  font-size: 22px;
  cursor: pointer;
  border-radius: 15px;
}

.why-choose-us {
  background-color: white;
  padding: 50px;
  text-align: center;
  font-size: 24px;
}

.reasons {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.reason {
  text-align: center;
}

.reason img {
  width: 170px;
  height: 170px;
}

.testimonials {
  background-color: #f7f7f7;
  padding: 50px;
  text-align: center;
}

.testimonials ul {
  list-style: none;
  padding: 0;
}

.testimonials li {
  margin: 10px 0;
  font-style: italic;
}

footer .contact-info {
  margin-top: 10px;
}
/* Стили для header */
header {
  display: flex;
  justify-content: space-between; /* Разделяет меню и контактную информацию по краям */
  align-items: center; /* Выравнивание по вертикали */
  background-color: #333;
  color: white;
  padding: 20px;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
header .logo img {
  height: 60px;
}

header .menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header .menu li {
  margin-left: 20px;
}

header .menu li a {
  color: white;
  text-decoration: none;
}

header .contact-info {
  text-align: right;
}

header .contact-info p {
  margin: 0;
}

.testimonials h2 {
  margin-bottom: 40px;
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Для адаптивности карточек на небольших экранах */
  gap: 20px;
}

.testimonial-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.testimonial-card img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 20px;
}

.testimonial-card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.testimonial-card p {
  font-size: 16px;
  color: #666;
  font-style: italic;
}
/* Стили для секции обратной связи */
.feedback {
  position: relative;
  text-align: center;
  height: 400px;
  background: #dbd5d3;
}

.feedback h2 {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 46px;
  color: #320c00;
}

.feedback img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  opacity: 0.4;
}

.feedback .feedback-button {
  background: linear-gradient(70deg, #b68367, #834649);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feedback .feedback-button:hover {
  background: linear-gradient(70deg, #b68367, #834649);
}

/* Стили для футера */
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;

}

.footer .contact-info {
  text-align: right;
}

.footer .contact-info p {
  margin: 0;
}
/* Стили для списка услуг */
.services {
  background-color: #f8f6f4;
  padding: 50px 330px;
}

.services h2 {
  text-align: center;
  margin-bottom: 60px;
}

.service-list {
  list-style: none; /* Убираем нумерацию списка */
  padding: 0;
}

.service-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd; /* Легкое разделение между элементами */
  padding-bottom: 10px;
}

.service-details {
  max-width: 70%; /* Ограничиваем ширину для описания и названия */
}

.service-list h3 {
  font-size: 20px;
  margin: 0 0 5px 0;
}

.service-list p {
  margin: 0;
}

.price {
  font-weight: bold;
  white-space: nowrap; /* Чтобы цена не переносилась */
  margin-left: 20px;
}

.Modal__Content {
  border: none;
  border-radius: 10px;
  background: #fff; /* Белый фон */
  padding: 20px;
  position: relative;
  width: 400px;
  max-width: 90%; /* Адаптивная ширина */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Тень */
}
.Modal__Content img{
  width: 270px;
  height: 270px;
}

.Modal__Title {
  font-size: 36px;
  margin-bottom: 10px;
}

.Modal__Form {
  display: flex;
  flex-direction: column;
}

.Modal__Label {
  margin-bottom: 5px;
}

.Modal__Input {
  min-width: 200px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Modal__Button {
  background: linear-gradient(70deg, #b68367, #834649); /* Цвет кнопки */
  color: white; /* Цвет текста */
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.Modal__CloseButton {
  background-color: transparent; /* Прозрачный фон */
  color: #803a0c; /* Цвет текста */
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  position: absolute;
  right: 17px;
  top: 9px;
  text-align: right;
}
.Modal_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-options {
  text-align: center;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 20px 0;
}

.options {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.option img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.option {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 40%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.option h3 {
  margin-bottom: 10px;
}

.option-button {
  background: linear-gradient(70deg, #b68367, #834649);
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option-button:hover {
  background: linear-gradient(70deg, #b68367, #834649);
}
.custom-file-upload {
  position: relative;
  display: inline-block;
}

.Modal__InputFile {
  display: none; /* Скрываем стандартный input */
}

.Modal__FileLabel {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease;
  border: 2px #b68367 solid;
  max-width: 200px;
}
.ReactModal__Overlay {
  z-index: 1000;
}
.why-choose-us h5 {
  width: 60%;
  margin: 15px auto;
}
@media (max-width: 700px) {
  p {
    font-size: 18px;
  }
  header {
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  header .contact-info {
    text-align: center;
  }
  .reasons {
    flex-direction: column;
    gap: 20px;
  }
  .hero h1 {
    font-size: 36px;
    top: 10%;
  }
  .services {
    padding: 15px;
  }
  .feedback h2 {
    font-size: 24px;
  }
  .feedback, .feedback img {
    height: 300px;
  }
  .price {
    white-space: wrap;
  }
  .service-details {
    max-width: 55%;
  }
  .service-list li {
    gap: 15px;
  }
  .order-button {
    padding: 16px;
    font-size: 16px;
  }
  .reason img {
    width: 100px;
    height: 100px;
  }
  .why-choose-us {
    padding: 10px;
  }
  header .contact-info p, .footer .contact-info p {
    font-size: 16px;
  }
  .footer .menu {
    text-align: left;
  }
  .feedback .feedback-button {
    bottom: 5%;
  }
  .why-choose-us h5 {
    width: 95%;
    margin: 5px auto;
    font-weight: normal;
    line-height: 1.5;
  }
}
